<div class="container">
  <h1>Rejestracja</h1>

  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.submit "Zarejestruj się", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
