<%= form_with(model: access_right) do |form| %>
  <% if access_right.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(access_right.errors.count, "error") %> prohibited this access_right from being saved:</h2>

      <ul>
        <% access_right.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :door_id, style: "display: block" %>
    <%= form.number_field :door_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
