<p style="color: green"><%= notice %></p>

<%= render @access_right %>

<div>
  <%= link_to "Edit this access right", edit_access_right_path(@access_right) %> |
  <%= link_to "Back to access rights", access_rights_path %>

  <%= button_to "Destroy this access right", @access_right, method: :delete %>
</div>
