<h1><%= @room.name %></h1>

<p>ID: <%= @room.id %></p>
<% if current_user.rooms.include?(@room) %>
  <p>Posiadasz dostęp do tego pokoju. Możesz otworzyć drzwi!</p>
<% end %>
<% if current_user.rooms.include?(@room) %>
  <%= form_with url: open_door_room_path(@room), method: :post do |f| %>
    <%= f.submit "Otwórz drzwi" %>
  <% end %>
<% end %>
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% elsif flash[:error] %>
<p><%= flash[:error] %></p>
<% end %>
<% if current_user.admin? %>
  <%= form_tag room_path(@room), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć ten pokój?" } do %>
    <%= submit_tag "Usuń" %>
  <% end %>
<% end %>
<%= link_to "Wstecz", rooms_path %>




