<%= form_with(model: door) do |form| %>
  <% if door.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(door.errors.count, "error") %> prohibited this door from being saved:</h2>

      <ul>
        <% door.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
