<!DOCTYPE html>
<html>
  <head>
    <title>AccessControlSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
<% if current_user %>
  <%= link_to "Wyloguj", logout_path %>
<% else %>
  <%= link_to "Logowanie", login_path %>
<% end %>
</html>
